@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: Poppins;
}
*{
    max-width: 1320px ;
   margin: 0 auto;
}
 .display-flex{
    display: flex;
}
.color-1{
    color: #3A3A3A;
}
.color-2{
    color: #787885;
}
.color-3{
    color: #6C6C6C;
}
.brand{
    font-weight: 700;
}
.navbar{
    justify-content: space-between;
    display: flex;
    align-items: center;
   margin: 20px;
    margin-top: 40px;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
}
.banner-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 70px;
}
.banner-content{
    margin-top: 50px;
    
}
.section-tittle{
    font-weight: 700;
    color: rgb(58, 58, 58);
    font-size: 45px;
}
.section-dicription{
    color: rgb(58, 58, 58);
    font-weight: 600;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.btn-primary{
    border-radius: 35px;
    background-color: #E02C6D;
    padding: 10px 20px;
    color: white;
    border: none;
}
.btn-primary1{
    width: 140px;
    background-color: #E02C6D;
    padding: 10px 20px;
    color: white;
    border: none;
    font-size: 16px;
    padding: 10px;
}
.banner-image{
    width:360px;
    height: 360px;
    background-image: url('../images/Circle\ design.svg');
   
    background-size: cover;
}
.banner-image img{
    width: 320px;
    height: 280px;
    margin-top: 30px;
    
}
.influencer-image{
     display: grid;
    grid-template-columns: repeat(7, 1fr); 
   width: 1010px ;
   height: 80px;
  
   margin-top: 30px;
   margin-left: 130px;
   
}
.collection{
    max-width: 1028px;
    height: 1390px;
   
    margin-top: 50px;
   
}
.collection-tittle{
    width: 250px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.collection-card{
    width: 1030px;
    height: 1300px;
     
      display: grid;
      grid-template-columns: repeat(3,3fr); 
   gap: none;
}
/* .card-1{
max-width: 300px;
    height: 410px;
    border: 2px solid black;
    margin-right: 700px;
} */
.card-1{
 
    width: 300px;
    height: 400px;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    background-color: white;
    
}
.card-1 p1{
    color: #000000DE;
    font-weight: 400;
    font-size: 20px;
}
.card-1 p{
    font-weight: 700;
    color: #787885;
    
    font-size: 16px;
    margin-top: 10px;
}
.collection h5{
    font-size: 23px;
    color: #E02C6DDE;
    font-weight: 700;
     margin-left: 900px;
    
}
.feature{
    width: 1028px;
    height: 270px;
   
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    margin-top: 50px;
}
.feature-image{
    margin-right: 100px;
}
.feature-content p{
    margin-top: 10px;
    margin-bottom: 20px;
}
  




@media screen and (max-width:576px) {
    .navbar, .nav-links .banner-section{
      flex-direction: column;
      justify-content: center;
    }
}